html{
    scroll-behavior: smooth;
}
body{
    background-color: #FFD011;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
}
h1{
    color: #1F1F1F;
    text-align: center;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-size: 1.8em;
}
header{
    width: 100%;
    background-color: #DF4418;
}

ul:not(.calice) {
    list-style-type: none;
     margin: 0;
     padding: 0;
    overflow: hidden;
    background-color: #63A0BF;
    position: fixed;
    top: 0;
    width: 100%;
}

li a{
    display: block;
    color: aliceblue;
    background-color: #63A0BF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    border-right: 1px solid rgb(238, 238, 238);
}
  
a:link{
    color: rgb(238, 238, 238);
}
li a:hover:not(.ativo){
    background-color: #46819e;
}


.ativo{
    background-color: #DF4418;
}
  
.logo{
    text-align: center;
    color: rgb(238, 238, 238);
    font-size: 1.5em;
}

nav{
    text-align: center;
    color: rgb(238, 238, 238);
    font-size: 1.8em;
}

.banner{
    width: 98%;
    padding-top: 2em;
    border-style: solid;
    border-color: #FFD011;
    border-width: 1em;
    border-radius: 3em;
}

.container{
    width: 80%;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 2em;
    padding: 5px;
}

footer{
    background-color: #DF4418;
    color: rgb(238, 238, 238);
    width: 100%;
}

h2{
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-size: 1.6em;
}
h3{ 
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    font-size: 1.4em;
}

p{
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    line-height: 1.4em;
    font-size: 1.2em;
}
section{
    color: #1F1F1F;
}


.imagens{
    display: block;
    margin: auto;
    width: 50%;
}
.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }
.col-6 {
    width: 50%;
}

.persona{
    width: 12%;
    float: left;
    padding-right: 1.5em;
}

.cassino{
    width: 40%;
    float: left;
    padding-right: 1.5em;
}
.calice{
    padding-left: 1.5em; 
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
    list-style-type: circle;
    list-style-position: inside;
}
.hab{
    padding-bottom: 0.7em;
}